.text-green {
  color: #97c93e !important;
}

.btn-green {
  background-color: #97c13e;
  color: white !important;
}
.btn-green:hover {
  background-color: #7da032;
}

#header img {
  height: 6vh;
  width: 200px;
}

main .carousel-inner img {
  max-height: 90vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#about-me {
  background-color: #343A40;
  color: white;
}

#about-me img {
  max-height: 100px;
}

#footer {
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}
#footer a{
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  color: #97c93e;
}

.social-link-modal img{
  height: 36px;
}

#social-link-modal-linkedin a,
#social-link-modal-twitter a{
  background: #42A5F6;
}

#social-link-modal-facebook a{
  background: #3549AD;
}

#social-link-modal-github a{
  background: #2B3137;
}

#social-link-modal-instagram a{
  background: #B146C0;
}

.social-link-modal a{
  border: 2px solid #24292E;
}

.social-link-modal:hover{
  transform: scale(.99);
}


.emogi {
  height: 28px;
}